/* DARK THEMES - matches any theme ending in -dark */
[data-theme$="-dark"] {
  --code-token-keyword: #bda4ff;
  --code-foreground: #ffffff;
  --code-token-constant: #3ecf8e;
  --code-token-string: #ffcda1;
  --code-token-comment: #7e7e7e;
  --code-token-parameter: #ffffff;
  --code-token-function: #3ecf8e;
  --code-token-string-expression: #ffcda1;
  --code-token-punctuation: #ffffff;
  --code-token-link: #ffffff;
  --code-token-number: #ffffff;
  --code-token-property: #3ecf8e;
  --code-highlight-color: #232323;
}

/* LIGHT THEMES - matches any theme ending in -light */
[data-theme$="-light"] {
  --code-token-keyword: #6b35dc;
  --code-foreground: #1a1a1a;
  --code-token-constant: #15593b;
  --code-token-string: #f1a10d;
  --code-token-comment: #7e7e7e;
  --code-token-parameter: #1a1a1a;
  --code-token-function: #15593b;
  --code-token-string-expression: #f1a10d;
  --code-token-punctuation: #1a1a1a;
  --code-token-link: #1a1a1a;
  --code-token-number: #1a1a1a;
  --code-token-property: #15593b;
  --code-highlight-color: #f0f0f0;
}
