@import "./themes/globals.css";
@import "./themes/dark.css";
@import "./themes/classic-dark.css";
@import "./themes/light.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Root variables - Light Theme */
  :root {
    --background: 223.8136 -172.5242% 100%;
    --foreground: 223.8136 0% 3.9388%;
    --card: 223.8136 -172.5242% 100%;
    --card-foreground: 223.8136 0% 3.9388%;
    --popover: 223.8136 -172.5242% 100%;
    --popover-foreground: 223.8136 0% 3.9388%;
    --primary: 223.8136 0% 9.0527%;
    --primary-foreground: 223.8136 0.0004% 98.0256%;
    --secondary: 223.8136 0.0002% 96.0587%;
    --secondary-foreground: 223.8136 0% 9.0527%;
    --muted: 223.8136 0.0002% 96.0587%;
    --muted-foreground: 223.8136 0% 45.1519%;
    --accent: 223.8136 0.0002% 96.0587%;
    --accent-foreground: 223.8136 0% 9.0527%;
    --destructive: 351.7303 123.6748% 40.5257%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.8161%;
    --input: 223.8136 0.0001% 89.8161%;
    --ring: 223.8136 0% 63.0163%;
    --chart-1: 211.788 101.9718% 78.6759%;
    --chart-2: 217.4076 91.3672% 59.5787%;
    --chart-3: 221.4336 86.3731% 54.0624%;
    --chart-4: 223.6587 78.718% 47.8635%;
    --chart-5: 226.5426 70.0108% 39.9224%;
    --radius: 0.625rem;
    --sidebar: 223.8136 0.0004% 98.0256%;
    --sidebar-foreground: 223.8136 0% 3.9388%;
    --sidebar-primary: 223.8136 0% 9.0527%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0.0002% 96.0587%;
    --sidebar-accent-foreground: 223.8136 0% 9.0527%;
    --sidebar-border: 223.8136 0.0001% 89.8161%;
    --sidebar-ring: 223.8136 0% 63.0163%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  /* Dark Theme - True Black */
  [data-theme="dark"] {
    --background: 0 0% 0%;
    --foreground: 223.8136 -172.5242% 100%;
    --card: 223.8136 0% 3.5452%;
    --card-foreground: 223.8136 -172.5242% 100%;
    --popover: 223.8136 0% 6.8692%;
    --popover-foreground: 223.8136 -172.5242% 100%;
    --primary: 223.8136 -172.5242% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 223.8136 0% 13.1499%;
    --secondary-foreground: 223.8136 -172.5242% 100%;
    --muted: 223.8136 0% 11.304%;
    --muted-foreground: 223.8136 0% 64.471%;
    --accent: 223.8136 0% 19.8916%;
    --accent-foreground: 223.8136 -172.5242% 100%;
    --destructive: 359.9132 100.2494% 67.8807%;
    --destructive-foreground: 0 0% 0%;
    --border: 223.8136 0% 14.0871%;
    --input: 223.8136 0% 19.8916%;
    --ring: 223.8136 0% 64.471%;
    --chart-1: 40.6655 100.2361% 50.9228%;
    --chart-2: 218.1624 90.0354% 55.1618%;
    --chart-3: 223.8136 0% 45.6078%;
    --chart-4: 223.8136 0% 32.3067%;
    --chart-5: 223.8136 0.0001% 89.5577%;
    --radius: 0.5rem;
    --sidebar: 223.8136 0% 6.8692%;
    --sidebar-foreground: 223.8136 -172.5242% 100%;
    --sidebar-primary: 223.8136 -172.5242% 100%;
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: 223.8136 0% 19.8916%;
    --sidebar-accent-foreground: 223.8136 -172.5242% 100%;
    --sidebar-border: 223.8136 0% 19.8916%;
    --sidebar-ring: 223.8136 0% 64.471%;
    --shadow-2xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 2px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
      0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
      0px 1px 2px -1px hsl(0 0% 0% / 0.18);
    --shadow-md: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
      0px 2px 4px -1px hsl(0 0% 0% / 0.18);
    --shadow-lg: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
      0px 4px 6px -1px hsl(0 0% 0% / 0.18);
    --shadow-xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.18),
      0px 8px 10px -1px hsl(0 0% 0% / 0.18);
    --shadow-2xl: 0px 1px 2px 0px hsl(0 0% 0% / 0.45);
  }

  /* Classic Dark Theme */
  [data-theme="classic-dark"] {
    --background: 223.8136 0% 3.9388%;
    --foreground: 223.8136 0.0004% 98.0256%;
    --card: 223.8136 0% 9.0527%;
    --card-foreground: 223.8136 0.0004% 98.0256%;
    --popover: 223.8136 0% 14.9382%;
    --popover-foreground: 223.8136 0.0004% 98.0256%;
    --primary: 223.8136 0.0001% 89.8161%;
    --primary-foreground: 223.8136 0% 9.0527%;
    --secondary: 223.8136 0% 14.9382%;
    --secondary-foreground: 223.8136 0.0004% 98.0256%;
    --muted: 223.8136 0% 14.9382%;
    --muted-foreground: 223.8136 0% 63.0163%;
    --accent: 223.8136 0% 25.0471%;
    --accent-foreground: 223.8136 0.0004% 98.0256%;
    --destructive: 358.7594 101.8439% 69.8357%;
    --destructive-foreground: 223.8136 0.0004% 98.0256%;
    --border: 223.8136 0% 15.5096%;
    --input: 223.8136 0% 20.3885%;
    --ring: 223.8136 0% 45.1519%;
    --chart-1: 211.788 101.9718% 78.6759%;
    --chart-2: 217.4076 91.3672% 59.5787%;
    --chart-3: 221.4336 86.3731% 54.0624%;
    --chart-4: 223.6587 78.718% 47.8635%;
    --chart-5: 226.5426 70.0108% 39.9224%;
    --radius: 0.625rem;
    --sidebar: 223.8136 0% 9.0527%;
    --sidebar-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-primary: 225.3451 84.0953% 48.9841%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0% 14.9382%;
    --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-border: 223.8136 0% 15.5096%;
    --sidebar-ring: 223.8136 0% 32.1993%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  /* Global resets */
  *,
  html,
  body {
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base flex items-center justify-center border-4 border-background;
    content: counter(step);
    @apply ml-[-50px] mt-[-4px];
  }

  .chunk-container {
    @apply shadow-none;
  }

  .chunk-container::after {
    content: "";
    @apply absolute -inset-4 shadow-xl rounded-xl border;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

/* Preview Light Theme */
.preview {
  --background: 223.8136 -172.5242% 100%;
  --foreground: 223.8136 0% 3.9388%;
  --card: 223.8136 -172.5242% 100%;
  --card-foreground: 223.8136 0% 3.9388%;
  --popover: 223.8136 -172.5242% 100%;
  --popover-foreground: 223.8136 0% 3.9388%;
  --primary: 223.8136 0% 9.0527%;
  --primary-foreground: 223.8136 0.0004% 98.0256%;
  --secondary: 223.8136 0.0002% 96.0587%;
  --secondary-foreground: 223.8136 0% 9.0527%;
  --muted: 223.8136 0.0002% 96.0587%;
  --muted-foreground: 223.8136 0% 45.1519%;
  --accent: 223.8136 0.0002% 96.0587%;
  --accent-foreground: 223.8136 0% 9.0527%;
  --destructive: 351.7303 123.6748% 40.5257%;
  --destructive-foreground: 223.8136 -172.5242% 100%;
  --border: 223.8136 0.0001% 89.8161%;
  --input: 223.8136 0.0001% 89.8161%;
  --ring: 223.8136 0% 63.0163%;
  --chart-1: 211.788 101.9718% 78.6759%;
  --chart-2: 217.4076 91.3672% 59.5787%;
  --chart-3: 221.4336 86.3731% 54.0624%;
  --chart-4: 223.6587 78.718% 47.8635%;
  --chart-5: 226.5426 70.0108% 39.9224%;
  --radius: 0.625rem;
  --sidebar: 223.8136 0.0004% 98.0256%;
  --sidebar-foreground: 223.8136 0% 3.9388%;
  --sidebar-primary: 223.8136 0% 9.0527%;
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-accent: 223.8136 0.0002% 96.0587%;
  --sidebar-accent-foreground: 223.8136 0% 9.0527%;
  --sidebar-border: 223.8136 0.0001% 89.8161%;
  --sidebar-ring: 223.8136 0% 63.0163%;
}

/* Preview Dark Theme - True Black */
[data-theme="dark"] .preview {
  --background: 0 0% 0%;
  --foreground: 223.8136 -172.5242% 100%;
  --card: 223.8136 0% 3.5452%;
  --card-foreground: 223.8136 -172.5242% 100%;
  --popover: 223.8136 0% 6.8692%;
  --popover-foreground: 223.8136 -172.5242% 100%;
  --primary: 223.8136 -172.5242% 100%;
  --primary-foreground: 0 0% 0%;
  --secondary: 223.8136 0% 13.1499%;
  --secondary-foreground: 223.8136 -172.5242% 100%;
  --muted: 223.8136 0% 11.304%;
  --muted-foreground: 223.8136 0% 64.471%;
  --accent: 223.8136 0% 19.8916%;
  --accent-foreground: 223.8136 -172.5242% 100%;
  --destructive: 359.9132 100.2494% 67.8807%;
  --destructive-foreground: 0 0% 0%;
  --border: 223.8136 0% 14.0871%;
  --input: 223.8136 0% 19.8916%;
  --ring: 223.8136 0% 64.471%;
  --chart-1: 40.6655 100.2361% 50.9228%;
  --chart-2: 218.1624 90.0354% 55.1618%;
  --chart-3: 223.8136 0% 45.6078%;
  --chart-4: 223.8136 0% 32.3067%;
  --chart-5: 223.8136 0.0001% 89.5577%;
  --sidebar: 223.8136 0% 6.8692%;
  --sidebar-foreground: 223.8136 -172.5242% 100%;
  --sidebar-primary: 223.8136 -172.5242% 100%;
  --sidebar-primary-foreground: 0 0% 0%;
  --sidebar-accent: 223.8136 0% 19.8916%;
  --sidebar-accent-foreground: 223.8136 -172.5242% 100%;
  --sidebar-border: 223.8136 0% 19.8916%;
  --sidebar-ring: 223.8136 0% 64.471%;
}

/* Preview Classic Dark Theme */
[data-theme="classic-dark"] .preview {
  --background: 223.8136 0% 3.9388%;
  --foreground: 223.8136 0.0004% 98.0256%;
  --card: 223.8136 0% 9.0527%;
  --card-foreground: 223.8136 0.0004% 98.0256%;
  --popover: 223.8136 0% 14.9382%;
  --popover-foreground: 223.8136 0.0004% 98.0256%;
  --primary: 223.8136 0.0001% 89.8161%;
  --primary-foreground: 223.8136 0% 9.0527%;
  --secondary: 223.8136 0% 14.9382%;
  --secondary-foreground: 223.8136 0.0004% 98.0256%;
  --muted: 223.8136 0% 14.9382%;
  --muted-foreground: 223.8136 0% 63.0163%;
  --accent: 223.8136 0% 25.0471%;
  --accent-foreground: 223.8136 0.0004% 98.0256%;
  --destructive: 358.7594 101.8439% 69.8357%;
  --destructive-foreground: 223.8136 0.0004% 98.0256%;
  --border: 223.8136 0% 15.5096%;
  --input: 223.8136 0% 20.3885%;
  --ring: 223.8136 0% 45.1519%;
  --chart-1: 211.788 101.9718% 78.6759%;
  --chart-2: 217.4076 91.3672% 59.5787%;
  --chart-3: 221.4336 86.3731% 54.0624%;
  --chart-4: 223.6587 78.718% 47.8635%;
  --chart-5: 226.5426 70.0108% 39.9224%;
  --sidebar: 223.8136 0% 9.0527%;
  --sidebar-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-primary: 225.3451 84.0953% 48.9841%;
  --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-accent: 223.8136 0% 14.9382%;
  --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%;
  --sidebar-border: 223.8136 0% 15.5096%;
  --sidebar-ring: 223.8136 0% 32.1993%;
}

.preview * {
  @apply border-border outline-ring/50;
}
